.sendEmailDiv{
		z-index: 100;
		position: fixed;
		width: 300px;
		text-align:center;
		height: 100px;
		left: 40%;
		color: blue;
	}
.label{
	color: black;
	font-size: 15px;
}
.contentGrey{
	display: none;
	z-index:101;
	opacity: 0.6;
	background: #000;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.visited{
	display: block !important;
}
.labelSubmitCode{
	
	color: blue;
	font-size: 20px;
}
.modal-title{
	font-size:25px;
}
.modal-header{
	text-align: center;
}
#inputCodeField{
	font-size: 35px;
	height: 40px;
	font-weight:bold;
}
.modal-title{
	color: #00a5ff;
}
.modal{
	width: 600px;
	margin: 30px auto;
    
}