/************************************************/
.edit-post{
	padding:10px;	
}
#showPostEdit{
	background: #ffffff;
	position:fixed;
	margin-top:-250px;
	margin-left:-50px;
	width:40%;
	display:none;
}

/************************************************/
.main-row{
	
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    margin-top:10px;
    margin-right:20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}
#frmSearchMember  .dropdown-content{
	margin-right:10px;
	margin-top:2px;
	width:240px;
	border-radius:10px;
}
.dropdown-content > div{
	padding: 12px 16px;
    text-decoration: none;
    display: block;	
}
.dropdown-content > div:hover{background-color:#ddd;cursor:pointer;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.more-action{
	width:30px;
	height:30px;
	float:right;
	margin-top:-20px;
	margin-right:-20px;
}
.presentation{
	z-index:100;
	display: block;
	bottom: 0%;
	top:0;
	left:0;
	right:0;

}
.higherIndex{
	position:relative;
	z-index:999;
	display:block !important;
}
.presentation-visited{
	background:#000;
	position:fixed;
	opacity: .3;
}

.post{
	background-color:white;
	position: static;
	border: 1px solid #e1dbdb;
	margin:2% -1px 2% -1px;
	line-height: 1.4;
}
.post-title{
	font-size:large;
	margin-left:5px;
}
.post-header{
	position:static;
	width:90%;
	display: block;
	float:left;
	border-bottom: 1px dashed;
	height: 120px;
	margin-top: 5%;
	margin-left: 5%;
	font-family: "Time-New-Roman";
}
.post-header-content{
	display:inline-block;
	float: left;
	padding-left:100px
	margin-left: -100px;
}
.img-circle{
	display:inline-block;
	float:left;
	background-size: cover;
    border-radius: 50px;
}
.post-date{
	font-size: 15px;
	font-style: italic;
	padding-left:5px;
}
.post-content{
	margin-top: 24%;
}
.post-content p{
	padding-left:40px;
	align-content: center;
	padding-right: 15px;
}
/********************************************************************************/
/********************************************************************************/
.post-footer{
	margin-top:20px;
	height: auto;
	overflow: auto;
}
.post-footer:after, .post-footer:before{
	margin-right: 20px;
	margin-left: 20px;	
}
.post-footer input[type=text]{
	background:#e9ebee;
	float:left;
	padding-left:5px;
	width:inherit;
	border-radius:20px;
}
.post-comment{
	margin:5px;
	margin-left: 30px;
	margin-right: 20px;
	overflow:auto;	
}
.post-comment input[type=text]{
	height: 35px;
	overflow: overlay;
}
.post-comment p,label {
	padding-top: 10px;
	text-align: left;
	font-family: Time-New-Roman;
}
.post-comment:after, .post-comment:before{
	box-sizing: border-box;
	display:table;
	height:auto;
}